/*screen header title 글씨 가운데 위치시키기??*/
/*
.screen-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
    
}




.screen-header__title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.screen-header__title
{
    width: 33%;
}

.screen-header__title {
    display: flex;
    justify-content: center;
    padding-right: 300px;
}

.screen-header__icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 
*/

.screen-header {
    display: flex;
    justify-content: space-between;

    padding: 40px 25px;
    padding-bottom: 20px;

    border-bottom: 1px solid rgba(0,0,0,0.1);
    
}

.screen-header__title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.screen-header__icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 

.screen-header__icon--cog {
    color: var(--skyblue);
}

.profile-header {
    border: none;
}